<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kantin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetailPesanan"
            android:exported="false" />
        <activity
            android:name=".DashboardAdmin"
            android:exported="false" />
        <activity
            android:name=".EditMenu"
            android:exported="false" />
        <activity
            android:name=".TambahMenu"
            android:exported="false" />
        <activity
            android:name=".FooterAdmin"
            android:exported="false" />
        <activity
            android:name=".ItemMenu"
            android:exported="false" />
        <activity
            android:name=".KelolaMenu"
            android:exported="false" />
        <activity
            android:name=".PusatBantuan"
            android:exported="false" />
        <activity
            android:name=".ItemFAQ"
            android:exported="false" />
        <activity
            android:name=".UbahProfilKantin"
            android:exported="false" />
        <activity
            android:name=".ProfilAdminKantin"
            android:exported="false" /> <!-- Entry point pertama -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Kantin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Halaman Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity android:name=".RegisterAdminActivity" />
        <activity android:name=".BerandaPelangganActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ProfilPelangganActivity" />
        <activity android:name=".KeranjangPelangganActivity" />
        <activity android:name=".ExploreMenuPelangganActivity" />
        <activity android:name=".ExploreKantinPelangganActivity" />
        <activity android:name=".DetailMenuActivity" />
        <activity android:name=".DetailKantinActivity" />
        <activity android:name=".ActiveOrdersActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".DetailProfilPelangganActivity" />
        <activity android:name=".KeamananPelangganActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".PasswordBerhasilActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".CancelPaymentActivity" />
        <activity android:name=".UbahProfilPelangganActivity" />
        <activity
            android:name=".ValidasiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".PesananDibatalkanActivity"
            android:exported="false" /> <!-- Halaman Utama -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>